// Variables

$color-1:            rgba(37,62,84,1); //#253e54
$color-2:            rgba(18,34,45,1);
$color-3:            rgba(85,255,156,1); //#55ff9c
$color-4:            rgba(47,167,89,1); //
$color-5:            rgba(37,71,73,1);

$color-text-1:       rgba(255,255,255,1);
$color-text-2:       rgba(224,220,213,1);

$sm: "only screen and (min-width : 40em)";
$md: "only screen and (min-width : 65em)";
$lg: "only screen and (min-width : 90em)";
